druid.service=druid/router
druid.plaintextPort={{ druid_router_port }}

# HTTP proxy
druid.router.http.numConnections={{ druid_router_http_numConnections }}
druid.router.http.readTimeout={{ druid_router_http_readTimeout }}
druid.router.http.numMaxThreads={{ druid_router_http_numMaxThreads }}
druid.server.http.numThreads={{ druid_server_http_numThreads }}

# Service discovery
druid.router.defaultBrokerServiceName={{ druid_router_defaultBrokerServiceName }}
druid.router.coordinatorServiceName={{ druid_router_coordinatorServiceName }}

# Management proxy to coordinator / overlord: required for unified web console.
druid.router.managementProxy.enabled={{ druid_router_managementProxy_enabled }}
