druid.service=druid/coordinator
druid.host={{ druid_host }}
druid.port={{ druid_coordinator_port }}

druid.coordinator.startDelay={{ druid_coordinator_startDelay }}
druid.coordinator.period={{ druid_coordinator_period }}
druid.coordinator.balancer.strategy={{ druid_coordinator_balancer_strategy }}
